
    .tarjeta-custom {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-top: 5px solid #2a5298;
    }
    .tarjeta-custom:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
    }
    
    .foto-producto {
        height: 220px;
        object-fit: cover;
    }